@use "./../../foundation/variable" as *;

.c-btn {
    display: inline-block;
    width: 100%;
    font-size: 1.3rem;
    padding: 3px 20px;
    padding: 1.2em 2em;
    color: $c-base;
    background-color: $c-accent;
    border: solid 1px $c-accent;
    border-radius: 40px;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    letter-spacing: .05em;
    transition: .3s;
    &:hover {
        color: $c-accent;
        background-color: $c-base;
    }
}
