@use "./../../foundation/variable" as *;

.c-pageTop {
    position: fixed;
    right: 3%;
    bottom: 5%;
    display: flex;
    wid
    
    &.is-show {
        visibility: visible;
        opacity: 1;
    }
}
