@use "./../../foundation/variable" as *;

.c-pageTop {
    position: fixed;
    right: 3%;
    bottom: 5%;
    display: flex;
    width: 50px;
    height: 50px;
    trnas
    
    &.is-show {
        visibility: visible;
        opacity: 1;
    }
}
