@use "./../foundation/variable" as *;

.l-footer {
    padding: 40px;

    &__nav {
        margin-bottom: 15px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__nav-list {
        display: flex;
        padding: 0;
        flex-wrap: wrap;
        justify-content: center;
    }

    &__nav-item {
        margin: 0 10px;
    }

    &__nav-link {
        padding: 8px 0;
        
    }
}
