@use "../../foundation" as g;

.p-contact {
    background-color: pink;

    &__inner {

    }

    & p {
        font-size: 2.6rem;
        text-align: center;
    }

    &__action {
        
    }
}
