@use "../../foundation" as g;

.p-fv {
    display: flex;
    align-items: center;
    justify-content: center;
    // background-image: url();
    // background-repeat: no-repeat;
    // background-position: center;
    // background-size: cover;

    &__inner {

    }

    &__content {
        text-align: center;

        & h1 {
            font-size: 4rem;
            line-height: 1.1;
            font-weight: bold;
            letter-spacing: .05em;
            // color: $c-base;
            text-shadow: 1px 1px 20px rgb(0 0 0 / 35%);
        }

        & p {
            font-weight: bold;
            letter-spacing: .05em;
            font-size: 1.5rem;
            text-shadow: 1px 1px 15px rgb(0 0 0 / 35%);
            // margin-top: 10px;
        }
    }
}
