@use "../../foundation" as g;

.p-global-nav {
    display: none;

    @include g.breakpoint(tablet) {
        display: flex;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 10;
        visibility: hidden;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        transition: opacity .3s;
    }
}


.c-btn-menu {
    display: flex;

    @include g.breakpoint(tablet) {
        display: none;
    }
}
