@use "../../foundation" as g;

.p-global-nav {
    display: none;

    @include g.breakpoint(tablet) {
        display: flex;
        
    }
}


.c-btn-menu {
    display: flex;

    @include g.breakpoint(tablet) {
        display: none;
    }
}
