@use "../../foundation" as g;

.p-service {
    
    &__lists {
        text-align: center;
    }

    &__list {
        & img {
            width: 87px;
            height: ;
        }

        & > h3 {
            margin-top: 1.5em;
        }

        & > p {
            margin-top: 10px;
        }
    }
}
