@use "../../foundation" as g;

.p-works {
    &__inner {

    }

    & h2 {
        text-align: center;
    }

    &__lists {
        text-align: center;
        display: flex;
        flex-wrap: wrap;
        align-items: normal;
        gap: 2em;
    }

    &__list {
        width: 100%;
    }
}
